<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% @subjects.group_by{|x| x["card"]}.each do |card, alterations| %>
      <h1>Alteração do Card <strong><%= card %></strong></h1>
      <% alterations.each do |alteration| %>
        <p>
            <strong><%= "#{alteration['created_at'] ? I18n.l(Time.parse(alteration['created_at'].to_s), format: :short) : nil}" %>: </strong>
            <%= " #{alteration['alteration']}" %>
        </p>
      <%end%>
    <%end%>
    
    
  </body>
</html>