<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Alteração do Card <strong><%= @card.title %></strong></h1>
    <p>
        <%= @alteration %>
    </p>
    
    
  </body>
</html>